fntir_offline_evaluation.out
fntir_offline_evaluation.aux
fntir_offline_evaluation.bbl
fntir_offline_evaluation.blg
fntir_offline_evaluation.log
fntir_offline_evaluation.toc
fntir_offline_evaluation.synctex.gz
fntir_offline_evaluation.pdf
